$mobile-breakpoint: 660px;
$tablet-breakpoint: 768px;
$large-breakpoint: 940px;
$desktop-breakpoint: 1280px;

@mixin mobile {
    @media (min-width: $mobile-breakpoint){
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin large {
    @media (min-width: $large-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint){
        @content;
    }
}