@use "../../styles/color" as *;
@use "../../styles/responsive" as *;


.home{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    &__Content{
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: $white;
        z-index: 100;
    }

    &__textDiv{
        padding: 2rem 0;
    }

    &__smallText{
        font-size: 13px;
        text-transform: uppercase;
    }

    &__homeTitle{
        position: relative;
        font-size: 1.8rem;
    }


}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: $backgroundOverlay;
    top: 0;
    bottom: 0;
    mix-blend-mode: hard-light;

}

.home__video{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;

}

.cardDiv{
    position: relative;
    padding: 2rem 1rem;
    background-color: $white;
    border-radius: 10px;
    gap: 1rem;

}

label{
    display: block;
    color: $textColor;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
}

.label_total{
    justify-content: space-between;
    align-items: center;
}

.total{
    color: $textColor;
    font-size: 18px;
    padding-bottom: 10px;
}

.input{
    height: 40px;
    padding: 0 1rem;
    background-color: $inputColor;
    border-radius: 3rem;

}

input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 13px;
    font-weight: 500;

    &::placeholder{
        font-size: 13px;

    }
}

.icon{
    font-size: 18px;
    color: $primaryColor !important;
    margin-left: 10px;

}

.input[type=range]{
    background-color: blue;
}

.searchOption{
    position: absolute;
    background: $gradientColor;
    width: max-content;
    bottom: -0.7rem;
    column-gap: .8rem;
    padding: 5px 1rem;
    border-radius: 3rem;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    cursor: pointer;

    &:hover{
        background-color: $primaryColor;
    }

   

    
}

.span{
    font-size: 13px;
}

.filter-icon{
    font-size: 18px;
}


.homeFooterIcons{
    width: 100%;
    justify-content: space-between;
    

    
}

.home__.icon{
    font-size: 20px;
    margin: 0 5px;
    color: $white;
    font-weight: 600;
}

.home__icon:hover{
    color: $primaryColor;
    cursor: pointer;

}