@use '../../styles/color' as *;
@use '../../styles/responsive' as *;

// Fix width @ 1280 

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);

    @include tablet{
        padding: 1.5rem 2rem;
        background: $whiteColorDeam;
    }

    @include desktop{
        padding: 1rem 0.5rem;
    //    padding: 1rem 7.5rem;
    }
}

.logo{
    color: $black;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    
}

.icon{
    font-size: 25px;
    color: $primaryColor;
    transform: translate(5px);

    &:hover{
        color: $secondaryColor;
    }
}

.navbar{
    // @include tablet{
        position: absolute;
        background: $whiteColorDeam;
        height: max-content;
        width: 80%;
        border-radius: 1rem;
        top: -500rem;
        left: 50%;
        padding: 1rem; 
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
        transition: .5s ease-in-out;


       
    // }
}

.activeNavbar{
    top: 7rem;
   @include tablet{
    display: none;
   }

}

.navList{
    // @include tablet{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: .5rem 0;
    // }
    // @include tablet{
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         flex-direction: row;
    // }
}

.navItem{
    // @include tablet{
        padding: .5rem 0;
    // }

    @include tablet{
            color: $textColor;
    }
}

.navLink{
    // @include tablet{
        color: $textColor;
        font-size: .9rem;
        font-weight: 600;
    // }
   
}

.navLink:hover{
    color: $primaryColor;
}

.btn{
    // @include tablet{
        margin-top: 1rem;
    // }
}

.btnLink{
    // @include tablet{
        font-weight: 600;
        color: $white
    // }
}

.closeNavbar{
    // @include tablet{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        // color: $primaryColor;
       
    // }

    @include tablet{
        display: none;
    }
}

.closeNavbar:hover{
    color: green;
}

.toggleNavbar{
    .icon{
        font-size: 25px;
        color: $primaryColor;

    }

    &:hover.icon{
color: $secondaryColor;

    }

    @include tablet{
        display: none;
    }
}

.nav-tablet{
    display: none;

    @include tablet{
        display: block;
    }

    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @include desktop{
           
        }
    }

    &__item{
        padding: 0 0.7rem;
    }

   &__link{
    color: $textColor;
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;

    &:hover{
        color: $primaryColor;
    }
   }

   &__btn{
    margin-left: 1rem;
    padding: .6rem 1.5rem;
    background: $gradientColor;
    border-radius: 3rem;
    border: none;
    outline: none;
   }

   &__btn-link{
    color: $white;
    font-weight: 500;
   }
}

