@use "../src/styles/color" as *;
@use "../src/styles/responsive" as*;
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// MAKE MIXINS FOR ALL OF THIS.
// html{
//     scroll-behavior: smooth;
// }

// body{
//     scroll-behavior: smooth;
// }

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include desktop{
        width: 80% !important;
        margin: auto !important;
    }
}

.section{
    @include desktop{
        padding: 6rem 0 4rem;
    }
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

// change- make mixins 
.btn{
    padding: .6rem 1.5rem;
    background: $gradientColor;
    border-radius: 3rem;
    border: none;
    outline: none;
    
}

// change
.btn a {
    color: $white;
    font-weight: 500;
}

.btn:hover{
    background: $secondaryColor;
    cursor: pointer;
}

// change 
img, video{
    width: 100%;
    height: auto;
}

// change this
input{
    font-size: 100%;
}

body{
    background-color: $bodyColor;

    @include desktop{
        zoom: 1.7;
    }
}